*.class

# Package Files #
*.jar
*.war
*.ear

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
package br.com.yahoo.git;

/**
 *
 * @author Peterson ES
 */
public class App {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
 System.out.println("utilizando git atraves do netbeans 7.3.1");
    int x =10;
    }
}
